
<section id="gardenView">

  <svg id="treeContainer" class="plantContainer"></svg>

  <svg id="bushContainer" class="plantContainer"></svg>

  <svg id="flowerContainer" class="plantContainer"></svg>

</section>



<script src="/garden/growPlant/growTree.js"></script>
<script src="/garden/growPlant/growBush.js"></script>
<script src="/garden/growPlant/growFlower.js"></script>
<script src="/garden/time.js"></script>

{{!-- <script src="/garden/TEMPbuttons.js"></script> --}}