<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zen Garden</title>
</head>

  <header>
    <div class="login">
    <img src = "images/Untitled design.png" alt="Logo" class="logo">
        <ul>
            <li><a href="#">Login</a></li>
        </ul>  
    </div> 
    </header>

    <body>
        <div class="container my-5">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-create-tab" 
                    data-bs-toggle="tab" data-bs-target="#nav-create" type="button"
                     role="tab" aria-controls="nav-create" aria-selected="true">Create New Plot</button> 
                     <button class="nav-link" id="nav-profile-tab" 
                     data-bs-toggle="tab" data-bs-target="#nav-existing" type="button" 
                     role="tab" aria-controls="nav-existing" aria-selected="false">Load Existing Plot</button>   
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-create" role="tabpanel" 
                aria-labelledby="nav-create-tab">...</div>
                <div class="tab-pane fade" id="nav-existing" role="tabpanel" 
                aria-labelledby="nav-existing-tab">...</div>
        </div>
        <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Modal 1</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
  </header>

  <body>
  
  <main>
    <form>
      
    <div class="mb-3">
      <h3>SIGNUP</h3>
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="emailSignUp" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="passwordSignup">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <div class="mb-3">
    <h3>LOGIN</h3>
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="passwordInput">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button id="submitbtn" type="submit" class="btn btn-primary">Submit</button>
  <button id="logoutbtn" type="logout" class="btn btn-primary">Logout</button>
</form>
    {{{body}}}
  </main>
</body>

</html>