<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset= "UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Zen GArden</title>

       <link rel="stylesheet" href="garden.css"/>
       <script defer src="navbar.js"></script>
       <link 
       href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />
    </head>

    <body>
       <nav>
    <!-- <div class="login">zen garden logo -->
    <img src = "images/Untitled design.png" alt="Logo" class="logo"></div>
      <!-- <img src = "images/vecteezy_landscape-with-field-blue-sky-and-clouds-green-hill-park-or_29919103.svg" alt = "still-photo" class="still-logo"></div>   -->
        <ul>
          <li>
            <button id="modalLogin">Login</button>
          </li>
         </ul>  
      </nav>
       
      <div class="modal-container">
        <div class="modal-content">
          <button id="closeModal" onclick="closeModalContainer()">Close</button>
          <form class="login">
            <h2></h2>

             <div class="form-control">
              <label for="email"><i class="fa fa-envelope"></i>Username</label>
              <input type="email"  id="email" placeholder="Enter your email" required/>
             </div>
             <div class="form-control">
              <label for="password"><i class="fa fa-lock"></i>Password</label>
              <input type="password"  id="password" placeholder="Enter your password" required/>
             </div>
             <div class="form-control-others">
              <div class="forget">
                <label for="remember" class="remember">
                  <input type="checkbox" id="remember"/>
                &nbsp; Remember Me</label>

              </div>
             </div>
               <div class="form-control-others">
                <button>LOGIN</button>
               </div>
               <div class="form-control-others">
                <label for="create">
                  Don't have an account?
                  <a href="javascript:void(0)" id="create">Sign Up Now</a>
                </label>
               </div>
          </form>
          
          <form class="registration">
            <h2>Registration</h2>
            <div class="form-control">
              <label for="username"><i class="fa fa-user"></i>Username</label>
              <input type="text"  id="username" placeholder="Enter your username"required/>
             </div>
             <div class="form-control">
              <label for="password"><i class="fa fa-lock"></i>Password</label>
              <input type="password"  id="password" placeholder="Enter your password"required/>
             </div>
             <div class="form-control-others">
              <div class="terms">
                <label for="terms" class="terms">
                  <input type="checkbox" id="terms" required/>
                &nbsp; I agree this is Me</label>
              </div>
             </div>
               <div class="form-control-others">
                <button>CREATE ACCOUNT</button>
               </div>
               <div class="form-control-others">
                <label for="create">
                  Already have account?
                  <a href="javascript:void(0)" id="login">Login</a>
                </label>
               </div>
          </form>
        </div>
      </div>
          {{{body}}}
    </body>

</html>