{{!-- temporary buttons for TESTING --}}

<div id="button-container">
    <button id="addTree">Tree</button>
    <button id="addBush">Bush</button>
    <button id="addFlower">Flower</button>
    <button id="growPlants">Grow</button>
    <button id="fetchGarden">Fetch</button>
</div>

<svg id="treeContainer" class="plantContainer" width="1000" height="500px"></svg>

<svg id="bushContainer" class="plantContainer" width="1000px" height="500px"></svg>

<svg id="flowerContainer"  class="plantContainer" width="1000px" height="500px"></svg>

<script>
    // global variable for the namespace
    const svgNS = "http://www.w3.org/2000/svg";   

    
</script>



<script src="/garden/addPlant/addTree.js"></script>
<script src="/garden/addPlant/addBush.js"></script>
<script src="/garden/addPlant/addFlower.js"></script>

<script src="/garden/growPlant/growTree.js"></script>
<script src="/garden/growPlant/growBush.js"></script>
<script src="/garden/growPlant/growFlower.js"></script>

<script src="/garden/time.js"></script>

<script src="/garden/misc.js"></script>

<script src="/garden/TEMPbuttons.js"></script>