<form>
  <fieldset class="row mb-3">
    <legend class="col-form-label">Varietal</legend>
    {{#each varietals as |varietal|}}
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="varietalRadios"
          id="varietal{{@index}}"
          value="{{this.value}}"
        />
        <label class="form-check-label" for="varietal{{@index}}">
          {{this.name}}
        </label>
      </div>
    {{/each}}
  </fieldset>

  <fieldset class="row mb-3">
    <legend class="col-form-label">Position</legend>
    <div class="form-check">
      <input
        type="range"
        class="slider mb-2"
        id="gridCheck1"
        min="0"
        max="100"
        step="1"
      />
      <label id="positionLabel" class="ml-2" for="gridCheck1">0</label>
    </div>
  </fieldset>

  <button type="submit" class="btn btn-primary">Plant</button>
</form>