<form>
    
    <fieldset class="row mb-3">
      <legend class="col-form-label">Type</legend>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="typeRadios" id="type1" value="option1" checked>
          <label class="form-check-label" for="type1">
            Tree
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="typeRadios" id="type2" value="option2">
          <label class="form-check-label" for="type2">
            Bush
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="typeRadios" id="type3" value="option3">
          <label class="form-check-label" for="type3">
            Flower
          </label>
        </div>
    </fieldset>

    <fieldset class="row mb-3">
        <legend class="col-form-label">Varietal</legend>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="varietalRadios" id="varietal1" value="option1" checked>
            <label class="form-check-label" for="varietal1">
              Apple
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="varietalRadios" id="varietal2" value="option2">
            <label class="form-check-label" for="varietal2">
              Orange
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="varietalRadios" id="varietal3" value="option3">
            <label class="form-check-label" for="varietal3">
              Plum
            </label>
          </div>
      </fieldset>
    
    <fieldset class="row mb-3">
        <legend class="col-form-label">Position</legend>
        <div class="form-check">
            <input type="range" class="slider mb-2" id="gridCheck1" min="0" max="100" step="1">
        <label id="positionLabel" class="ml-2" for="gridCheck1">0</label>
        </div>
    </fieldset>


    <button type="submit" class="btn btn-primary">Plant</button>

</form>  