
<section id="gardenView">

  <svg id="treeContainer" class="plantContainer"></svg>

  <svg id="bushContainer" class="plantContainer"></svg>

  <svg id="flowerContainer" class="plantContainer"></svg>

</section>

<form id="addPlantForm">


    <div class="dish-card-header" type="hidden" id="plotIdFromLogin" value="{{plotid}}">
    
    {{plotId}}
  </div>
  <fieldset class="form-group m-2">
    <div class="form-group">
      <label for="varietal">Choose a Varietal:</label>
      <select id="varietal" name="varietal" class="form-control">
        <option value="1">Apple</option>
        <option value="2">Orange</option>
        <option value="3">Plum</option>
        <option value="4">Blueberry</option>
        <option value="5">Red Currants</option>
        <option value="6">Gooseberry</option>
        <option value="7">Daisy</option>
        <option value="8">Cosmos</option>
        <option value="9">Aster</option>
      </select>
    </div>
  </fieldset> 

  <fieldset class="form-group m-2">
    <div class="form-group">
      <label for="plantPosition">Choose Position:</label>
      <input
        type="range"
        class="form-control-range"
        id="plantPosition"
        name="position"
        min="0"
        max="1000"
        value="0"
        step="1"
      />
      <label id="positionLabel" class="form-text m-2">0</label>
    </div>
  </fieldset>

  <fieldset class="form-group m-2">
    <div class="form-check form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="timeSwitch"
      />
      <label class="form-check-label" for="timeSwitch">1 Hour</label>
    </div>
  </fieldset>

  <button type="submit" class="btn btn-primary me-2">Plant</button>
  <button
    type="button"
    id="fetchPlot"
    class="btn btn-secondary ms-2"
  >Fetch</button>
</form>


<script src="/garden/addPlant/addTree.js"></script>
<script src="/garden/addPlant/addBush.js"></script>
<script src="/garden/addPlant/addFlower.js"></script>
<script src="/garden/form/form.js"></script>
<script src="/garden/misc.js"></script>





<script src="/garden/growPlant/growTree.js"></script>
<script src="/garden/growPlant/growBush.js"></script>
<script src="/garden/growPlant/growFlower.js"></script>
<script src="/garden/time.js"></script>