* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {

    padding: 20px;
    color: #8ae90e;
}

  /* Logo styles */
.logo {
    position: fixed;
    height: auto;
    left: 0px;
    width: 450px;
} 

.login ul{
    list-style-type: none;
    background: greenyellow;
    padding: 0;
    margin: 0;
    text-align:right;
}

.login li{
    display: inline-block;
}
.login a {
    text-decoration: none;
    color: rgb(11, 54, 20);
    width: 100px;
    display: block;
    padding: 25px 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
}
.login a:hover{
    background:rgb(169, 241, 193);
}
  
/* body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

.petal {
width: 100px;
height: 100px;
background: linear-gradient(135deg, black, rgb(238, 8, 238),rgb(90, 1, 90));
border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

.petal2 {
    width: 100px;
    height: 100px;
    background: linear-gradient(135deg, black, rgb(234, 238, 8),rgb(90, 1, 90));
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;  
}

.petal3 {
    width: 100px;
    height: 100px;
    background: linear-gradient(135deg, black, rgb(8, 173, 238),rgb(90, 1, 90));
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;  
}

.one {
    transform: rotate(180deg);
}
.two{
    transform: rotate(270deg);
}
.three {
    transform: rotate(90deg);
}

.circle{
    height: 50px;
    width:50px;
    background: radial-gradient(black, rgb(238, 8, 238));
    border-radius: 50%;
    position: absolute;
    left: calc( 50% - 25px);
    top: calc( 50% - 25px);
}

.circle2 {
    height: 50px;
    width:50px;
    background: radial-gradient(black, rgb(234, 238, 8));
    border-radius: 50%;
    position: absolute;
    left: calc( 50% - 25px);
    top: calc( 50% - 25px);
}

.circle3 {
    height: 50px;
    width:50px;
    background: radial-gradient(black, rgb(8, 173, 238));
    border-radius: 50%;
    position: absolute;
    left: calc( 50% - 25px);
    top: calc( 50% - 25px);
}


.tree1{
    position:fixed;
    margin-left:25px;
    margin-top:335px;
}

.tree2{
    position:fixed;
    margin-left:105px;
    margin-top:332px;
}

.tree3{
    position:fixed;
    margin-left:175px;
    margin-top:330px;
}

.tree4{
    position:fixed;
    margin-left:245px;
    margin-top:330px;
}

.tree-trunk{
    position: fixed;
    display:block;
    width:5px;
    height:30px;
    background-color: brown;
    border: 1px solid black;
    margin-top:24px;
    margin-left:13px;
    z-index: 11;
}

.tree-leaves{
    position: fixed;
    display:block;
    width: 35px;
    height:35px;
    border-radius: 50%;
    background-color: green;
    z-index: 12;
}

.tree-leaf-circle{
    position: fixed;
    display:block;
    width: 15px;
    height:15px;
    border-radius: 50%;
    background-color: green;
}

.tree-leaf-circle1{
    margin-top:0px;
    margin-left:-5px;
}
.tree-leaf-circle2{
    margin-top:-5px;
    margin-left:5px;
}

.tree-leaf-circle3{
    margin-top:-5px;
    margin-left:16px;
}

.tree-leaf-circle4{
    margin-top:5px;
    margin-left:23px;
}

.tree-leaf-circle5{
    margin-top:18px;
    margin-left:20px;
}

.tree-leaf-circle6{
    margin-top:18px;
    margin-left:-2px;
}
.tree-leaf-circle7{
    margin-top:8px;
    margin-left:-6px;
} */