/* @import url("https://fonts.googleapis.com/css2?family=Poppons:wght@300;400;500;600&display=swap"); */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    transition: all 0.4s ease;
}

  /* Logo styles */
  .logo {
    position: relative;
    height: auto;
    left: 0px;
    width: 250px;
} 



  /* still image */
.still-photo {
    display: flex;
    justify-content: center;
}

body {
    height:100vh ;
    background: white;
    /* padding: 20px;
    color: #8ae90e; */
}

#closeModal{
    font-size: 10px;
    width: 10%;
    height: 15px;
}
nav {
    position: relative;
    height: 70px;
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: greenyellow;
}

nav ul{
    display: flex;
    align-items: center;
}

nav li{
    margin: 0 5px;
    list-style: none;
    overflow: hidden;
}
/* incase we adding more to the navbar these two below will style them */
 a {
    text-decoration: none;
}
 nav li a {
    position: relative;
    font-size: 17px;
    font-weight: 400;
    padding: 10px;
    display: inline-block;
    letter-spacing: 1px;
    color: beige;
 }

 /* login button styles */
nav li button {
    width: 80px;
    font-size: 20px;
}

button {
   width: 50%;
    height: 45px;
    background-color: green;
    border-radius: 8px;
    border-width: 2px;
    color: greenyellow;
    cursor: pointer;
    border-color: white;
    font-size: 20px;
    box-shadow: rgba(red, green, blue, alpha) 0 2px 4px,
    rgba(rgb(250, 4, 168), rgb(240, 168, 14), rgb(11, 250, 250), 0.15) 0 7px 13px -3px,
     #d6d6e7 0 -3px 0 inset;
     transition: box-shadow 0.15s transform 0.15s;
}

button:focus{
    outline: none;
    box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(red, green, blue, 0.4) 0 2px 4px,
    rgba(red, green, blue, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}
 button:hover{
    box-shadow: rgba(red, green, blue, 0.3) 0 4px 8px,
    rgba(red, green, blue, 0.2) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
    transform: translateY(-2px);
 }

 button:active {
    box-shadow: #d6d6e7 0 3px 7px inset;
    transform: translateY(2px);
 }

 /* style the form modal */
 .modal-container{
    display: none; 
    opacity: 0; 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgba(77, 77, 77, 0.7);
    transition: all 0.4s;
    visibility: hidden;
 }

 .open{
     opacity: 1; 
     visibility: visible;
 }
 /* .hidden {
    display:none
 } */

 .modal-content{
    border-radius: 4px;
    position: relative;
    height: 475px;
    width: 500px;
    max-width: 90%;
    background: greenyellow;
    padding: 1em 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
 }

 form {
    width: 450px;
 }

 h2 {
    text-align: center;
    margin: 20px;
 }

 .fa-times {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 5px;
 }

 .form-control{
    display: flex;
    flex-direction: column;
    padding: 10px 10px 8px;
    border: 1px soild #ddd;
    border-radius: 4px;
    margin-bottom: 20px;
    transform: 0.3s;
 }

 .form-control label {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.7px;
    color: rgb(121, 201, 1);
    transition: 0.3s;
 }
 .form-control input {
    outline: none;
    border: none;
    padding: 4px 0 0;
    font-size: 14px;
 }

 .form-control:focus-within {
    border-color: black;
 }

 .form-control:focus-within {
    color: black;
 }

 .forget .terms{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
 }

 .forget label,
 .terms label {
    position: unset;
    cursor: pointer;
    display: flex;
    user-select: none;
    font-size: 14px;
 }

 .form-control-others {
    margin: 5% auto;
    text-align: center;
 }

 .registration{
    position: absolute;
    transform: translate(500px);
 }
